@font-face {
    font-family: CorporativeSansAltRegular;
    src: url(https://github.com/Rairof/Theme-Fonts/blob/vencord/CorporativeSansAlt/CorporativeSansAltRegular.woff?raw=1);
}

:root {
    --font-primary: "CorporativeSansAltRegular";
    --font-display: "CorporativeSansAltregular";
    --font-headline: "CorporativeSansAltRegular";
}