@font-face {
    font-family: CorporativeSansAltRegular;
    src: url(https://github.com/Rairof/Theme-Fonts/blob/vencord/CorporativeSansAltRegular.woff?raw=1);
}

:root {
    --font-primary: "CorporativeSansAlt";
    --font-display: "CorporativeSansAlt";
    --font-headline: "CorporativeSansAlt";
}