@font-face {
    font-family: CorporativeSansAltRegular;
    src: url(https://raw.githubusercontent.com/Rairof/Theme-Fonts/refs/heads/vencord/CorporativeSansAlt/CorporativeSansAltRegular.woff);
}

:root {
    --font-primary: "CorporativeSansAltRegular";
    --font-display: "CorporativeSansAltRegular";
    --font-headline: "CorporativeSansAltRegular";
}